!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <div>
        <a href="/">home</a>  
        <a href="/users/add">add new user</a>
        <a href="/users">all users list</a>
    </div>
    <h1><%= title %></h1>
    <% if(messages.error) { %>
        <p style="color: red;"><%- messages.error%></p>

    <% } %>

    <% if (messages.success){ %>
        <p style="color: green;"><%- messages.success%></p>

    <% } %>

    <table width='80%' border="0">
        <tr style="text-align: left; background-color: #30f109;">
            <th>name</th>
            <th>age</th>
            <th>email</th>
            <th>actoin</th>
        </tr>
        <% if(data) { %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.age %></td>
                <td><%= user.email %></td>
                <td>
                    <div style="float: left;">
                        <a href="/users/edit <%= user._id%>">edit</a> &nbsp;
                        <form method="POST" action="users/delete/<%= user._id%>" style="float: right;"> 
                             <input type="submit" name="delete" value="delete" onclick="return confirm('are you sure you want to delete?')">
                             <input type="hidden" name="_method" value="DELETE">
                        </form>

                    </div>
                </td>
            </tr>
        <%}) %>
        <%}) %>
    </table>
</body>
</html>